{% extends 'baseDashboard.html' %}
{% block content %}
    <div id="form-wrapper"></div>
{% endblock %}
{% block scripts %}
<script>

  document.addEventListener("DOMContentLoaded", function () {  
        const data = JSON.parse('{{ data|escapejs }}');
        createTabelForm(
            'form-wrapper',
            'search-table',
            'Data Pengusaha',
            'Informasi Sumber PAD (Makanan dan/atau Minuman)',
            'dataPengusaha.xlsx',
            'dataPengusaha.pdf'
        );
        _tabel(data);
  }); 
 

  function _tabel(dt) {
    const total = dt.reduce((sum, v) => sum + v.pajak, 0);
    const tableHTML = `
        <thead class="bg-indigo-600 text-white">
        <tr>
            <th class="px-4 py-2">No</th>
            <th class="px-4 py-2">ID</th>
            <th class="px-4 py-2">A.N</th>
            <th class="px-4 py-2">Nama</th>
            <th class="px-4 py-2">Alamat</th>
            <th class="px-4 py-2">Pajak</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        ${dt.map((v, i) => `
            <tr>
            <td class="px-4 py-2">${i + 1}</td>
            <td class="px-4 py-2">${v.objek_id || '-'}</td>
            <td class="px-4 py-2">${v.pengguna_nama || '-'}</td>
            <td class="px-4 py-2">${v.objek_nama || '-'}</td>
            <td class="px-4 py-2">${v.objek_alamat || '-'}</td>
            <td class="px-4 py-2">${ v.pajak?.toLocaleString()|| '-'}</td>
            </tr>
        `).join("")}
        </tbody>
    `;

    setTimeout(() => {
        const table = document.getElementById("search-table");
        table.innerHTML = tableHTML;

        setTimeout(() => {
            new simpleDatatables.DataTable("#search-table", {
            searchable: true,
            fixedHeight: true,
            perPage: 10,
            });
        }, 100); 
    }, 100);

    
    
  }

</script>
{% endblock %} 